<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.$0.reflesh</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.01</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakaobee64818af8f71adab9a82991b9dcb9b</string>
				<string>fb638821019946552</string>
				<string>com.googleusercontent.apps.538113707088-h7s44lns3qdk39c7flu6hs53jmso11u1</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>638821019946552</string>
	<key>FacebookDisplayName</key>
	<string>Spot</string>
	<key>KAKAO_APP_KEY</key>
	<string>bee64818af8f71adab9a82991b9dcb9b</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaobee64818af8f71adab9a82991b9dcb9b</string>
		<string>nmap</string>
		<string>instagram</string>
		<string>kakaokompassauth</string>
		<string>storykompassauth</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>카메라 접근 권한을 허용해 주세요.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>위치정보 사용을 허용해 주세요.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>위치정보 사용을 허용해 주세요.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>마이크 접근 권한을 허용해 주세요.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>사진 저장 권한을 허용해 주세요.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>사진 폴더 접근 권한을 허용해 주세요.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
